:root{
    --Fondo-Oscuro:rgb(21, 40, 68);
    --fondo-Claro:rgb(173, 199, 238);
}

*{
    padding: 0px;
    margin: 0px;

}

.boton{
    background-color: var(--Fondo-Oscuro);
    margin-left: 5px;
    border-radius: 15px;
    border: 3px solid black;
    box-shadow: -3px 3px 10px rgb(195, 0, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
}
.boton:hover{
    background-color: var(--fondo-Claro);
    margin-left: 10px;
}



